<!DOCTYPE html>
<style>
  @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
  /* font-family: 'Jeju Gothic', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  /* font-family: 'Nanum Pen Script', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
  /* font-family: 'Hanna', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
  /* font-family: 'Nanum Brush Script', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  /* font-family: 'Nanum Gothic', serif; */
  @import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
  /* font-family: 'Jeju Hallasan', serif; */
</style>
<html lang="en">
<head>

  <!-- CDN -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    <!-- socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>    <!-- Bootstrap 4 -->
    <script src="static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="static/dist/js/adminlte.min.js"></script>

  <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- title -->
    <title>TEST PROJECT</title>

  <!-- style -->
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/plugins/fontawesome-free/css/all.min.css">
  
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  
    <!-- Theme style -->
    <link rel="stylesheet" href="static/dist/css/adminlte.min.css">
<script>
  $(document).ready(()=>{
    var user=prompt('성함을 입력하세요.');
    console.log('1. 사용자 정보 입력 완료');
    console.log('user: '+user);

    // socket 연결
    if(true){
    // url 지정
    var url = 'http://'+document.domain+':80';
    console.log('2. URL 지정 완료');
    console.log('url: '+url);

    // socket 연결
    var socket = io.connect(url);
    socket.on('connect',()=>{
      var data=new Object;
      data.user=user;
      socket.emit('login',data);
      console.log('2. 소켓 접속 성공');
    })};

    // 전송 이벤트 구현
    if(true){

      // 키보드 이벤트
      $("[name=message]").on("keypress", (evt) => {
        if (evt.keyCode == 13) {
          var msg = encodeURI($("[name=message]").val().trim());
          socket.emit("c_msg", { user: user, msg: msg });
          $("[name=message]").val("");
        }});

      // 전송 버튼 클릭 이벤트
      $("#send_btn").on("click", () => {
        var msg = encodeURI($("[name=message]").val().trim());
        socket.emit("c_msg", { user: user, msg: msg });
        $("[name=message]").val("");
      });
      };

    // s_msg 이벤트
    socket.on('s_msg',(data)=>{

      // 메시지 수신 처리
      var sender = decodeURI(data.user);
      var msg = decodeURI(data.msg);
      if (sender != decodeURI(user)){
        var msghtml = `
          <div class="direct-chat-msg">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-left">${sender}</span>
            </div>
            <img class="direct-chat-img" src="static/dist/img/unknown.png" alt="message user image">
            <div class="direct-chat-text">
              ${msg}
            </div>
          </div>`
       }
      else {
        var msghtml = `
          <div class="direct-chat-msg right">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-right">${sender}</span>
            </div>
            <img class="direct-chat-img" src="static/dist/img/unknown.png" alt="message user image">
            <div class="direct-chat-text">
              ${msg}
            </div>
          </div>`
        }
      console.log('메시지 수신')
      console.log('sender: '+sender)

      // 수신된 메시지 화면에 출력
      $("#chatbox").append(msghtml);
      $("#scroll_area").scrollTop($("#scroll_area")[0].scrollHeight);
      console.log("출력 완료")
      });
    
    });
</script>
</head>

<body>



  <!-- container -->
  <div class='container-fluid col-md-12'>

    <!-- container header -->
    <div class='content_header d-flex justify-content-center'>
      <div class="login-logo">
        <!-- 버전 정의 -->

        <b style="color: brown; font-family: HANNA;">테스트 채팅룸</b></a>
      </div>    
    </div>

    <!-- card -->
    <div class="card direct-chat d-flex justify-content-center col-md-9 mx-auto">
      
      <!-- card header -->
      <div class="card-header ">
        <h3 class="card-title">Chat</h3>
        
        <!-- stop keyword button -->
        <div class="card-tools">
          <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle" onclick="$('#scroll_area').animate({scrollTop : 0}, 10)">
            <i class="fas fa-ban"></i>
          </button>
        </div>  
      </div>

      <!-- card body -->
      <div class="card-body" id="scroll_area" style="height: 500px;scroll-behavior:smooth">
        
        <!-- message box -->
        <div class="direct-chat-messages"  style="height: auto;">
<span id='chatbox'>
          {% for t in texts %}
        <div class="direct-chat-msg">
          <div class="direct-chat-infos clearfix">
            <span class="direct-chat-name float-left">{{t[0]}}</span>
          </div>
          <img class="direct-chat-img" src="static/dist/img/unknown.png" alt="message user image">
          <div class="direct-chat-text">
            {{t[1]}}
          </div>
        </div>
{%endfor%}
</span>

      <!-- card footer -->
      <div class="card-footer">
        <form action="#" method="post" onsubmit="return false;">
          <div class="input-group">
            <input type="text" type='hidden' name="message" placeholder="메시지를 입력하세요 ..." class="form-control">
            <input type='hidden'/>
            <span class="input-group-append">
              <button id='send_btn' type="button" class="btn btn-primary">Send</button>
            </span>
          </div>
        </form>
      </div>
    </div>

  </div>

  <script>


  // 4. 메시지 수신 처리    
    

  </script>
</body>

</html>
